<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.stock.mapper.ImdFileMapper">

  <select id="searchImdList" resultType="com.keboda.eomsback.stock.pojo.ImdFile">
    select imd01,imd02
    from ${centre}.imd_file
    <where>
      <if test="imd != null and imd != '' ">
        and ( lower(imd01) like lower('%${imd}%') or lower(imd02) like lower('%${imd}%'))
      </if>
    </where>
    order by imd01,imd02
  </select>
    <select id="selectByKey" resultType="com.keboda.eomsback.stock.pojo.ImdFile">
      select *
      from ${centre}.imd_file
      where imd01 = #{imd01}
    </select>
</mapper>