<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.stock.mapper.TlfFileMapper">

    <update id="alterByRow">
        update ${centre}.TLF_FILE
        <set>
            <if test="tlf10 != null and tlf10 != '' ">
                tlf10 = #{tlf10},
            </if>
            <if test="tlf14 != null and tlf14 != ''">
                tlf14 = #{tlf14},
            </if>
            <if test="tlf41 != null and tlf41 != ''">
                tlf41 = #{tlf41},
            </if>
        </set>
        <where>
            <if test="tlf026 != null and tlf026 != '' ">
                and tlf026 = #{tlf026}
            </if>
            <if test="tlf027 != null and tlf027 != '' ">
                and tlf027 = #{tlf027}
            </if>
            <if test="tlf036 != null and tlf036 != '' ">
                and tlf036 = #{tlf036}
            </if>
            <if test="tlf037 != null and tlf037 != '' ">
                and tlf037 = #{tlf037}
            </if>
        </where>
    </update>

    <update id="alterByCode">
        update ${centre}.TLF_FILE
        <set>
            <if test="ddate != null ">
                tlf06 =#{ddate}, tlf07 = #{ddate},
            </if>
            <if test="tlf19 != null and tlf19 != ''">
                tlf19 = #{tlf19},
            </if>
            <if test="tlf20 != null and tlf20 != ''">
                tlf20 = #{tlf20},
            </if>
        </set>
        <where>
            <if test="tlf026 != null and tlf026 != '' ">
                and tlf026 = #{tlf026}
            </if>
            <if test="tlf036 != null and tlf036 != '' ">
                and tlf036 = #{tlf036}
            </if>
            <if test="tlf907 != null and tlf907 != '' ">
                and tlf907 = #{tlf907}
            </if>
        </where>
    </update>
    <select id="searchEWStockGapPageHelper" resultType="com.keboda.eomsback.stock.pojo.EWStockGap">
        SELECT CPRODUCENO,ima02 cproducename,CDANHAO,nvl(sum(IQTY),0) iqty, nvl(tlf10,0) qty,CRTYPE, CWHCODE,imd02,(nvl(sum(IQTY),0) -  nvl(tlf10,0)) gapqty
        FROM
            (
            SELECT CPRODUCENO,CDANHAO,0 - IQTY iqty,0 - tlf10 tlf10,'O' CRTYPE,CWHCODE
            FROM ${centre}.TC_WDD_FILE
            LEFT JOIN ( SELECT TLF01,tlf907,tlf021,tlf026,tlf036,sum(tlf10) tlf10
                        FROM ${centre}.TLF_FILE
                        GROUP BY TLF01,tlf907,tlf026,tlf036,tlf021 ) ON TLF01 = CPRODUCENO and tlf907 = -1 AND tlf021 = CWHCODE AND tlf026 = CDANHAO
            UNION ALL

            SELECT CPRODUCENO,CDANHAO,IQTY,tlf10,'I' CRTYPE,CWHCODE
            FROM ${centre}.TC_WDB_FILE
            LEFT JOIN ( SELECT TLF01,tlf907,tlf031,tlf026,tlf036,sum(tlf10) tlf10
                        FROM ${centre}.TLF_FILE
                        GROUP BY TLF01,tlf907,tlf026,tlf036,tlf031
                    ) ON TLF01 = CPRODUCENO AND tlf907 = 1 AND tlf031 = CWHCODE  AND tlf036 = CDANHAO
            ) a
        LEFT JOIN ${centre}.IMA_FILE ON a.CPRODUCENO = IMA01
        LEFT JOIN ${centre}.imd_file ON imd01 = a.CWHCODE
        <where>
            <if test="code != null and code != '' ">
                and lower(a.CDANHAO) like lower('%${code}%')
            </if>
            <if test="ima != null and ima != '' ">
                and a.CPRODUCENO = #{ima}
            </if>
            <if test="imd != null and imd != '' ">
                and a.CWHCODE = #{imd}
            </if>
        </where>
        GROUP BY CPRODUCENO,CDANHAO,tlf10,CRTYPE,CWHCODE,imd02,ima02
    </select>
</mapper>
