<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.stock.mapper.TlfFileMapper">

    <update id="updateDate">
        update ${centre}.TLF_FILE
        set tlf06 = #{ddate}
        where tlf026 = #{tlf026} and tlf036 = #{tlf036}
    </update>
    <update id="updateQty">
        update ${centre}.TLF_FILE
        set tlf10 = tlf10 + #{tlf10}, tlf18 = tlf18 + #{tlf18},
        where tlf026 = #{tlf026} and tlf027 = #{tlf027} and tlf036 = #{tlf036} and tlf037 = #{tlf037}
    </update>
</mapper>
