<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.base.mapper.ImaFileMapper">

    <select id="imgArr" resultType="com.keboda.eomsback.common.pojo.ImgFile">
        select img01,ima02,img02,img03,img04,imd02,img09,img10,img23
        from ${centre}.img_file
        left join ${centre}.imd_file on img02 = imd01
        left join ${centre}.ima_file on ima01 = img01
        where img01 like '%${ima01}%' or ima02 like '%${ima01}%'
        order by img01,img02
    </select>
    <select id="searchImaList" resultType="com.keboda.eomsback.base.pojo.ImaFile">
        select ima01,IMA02,ima021,ima08,ima1010,imz02
        from ${centre}.ima_file
        left join ${centre}.imz_file on imz01 = ima06
        <where>
            <if test="code_1 != null and code_1 != '' ">
                and ( ima01 like '%${code_1}%' or ima02 like '%${code_1}%' )
            </if>
        </where>
        order by ima01
    </select>
</mapper>
