<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.produce.mapper.QcfFileMapper">
    <update id="updateDate">
        update ${centre}.qcf_file
        <set>
            <if test="qcf.qcf04 != null and qcf.qcf04 &lt; ddate and flag">
                qcf04 = #{ddate},
            </if>
            <if test="qcf.qcf04 != null and qcf.qcf04 > ddate and !flag">
                qcf04 = #{ddate},
            </if>
            <if test="qcf.qcf15 != null and qcf.qcf15 &lt; ddate and flag">
                qcf15 = #{ddate},
            </if>
            <if test="qcf.qcf15 != null and qcf.qcf15 > ddate and !flag">
                qcf15 = #{ddate},
            </if>
        </set>
        where qcf01 =#{qcf.qcf01}
    </update>

    <select id="searchQcfList" resultType="com.keboda.eomsback.produce.pojo.QcfFile">
      select qcf01 , qcf04 ,qcf15,qcf22,qcf091
      from ${centre}.qcf_file
      where qcf02 = #{code}
      order by qcf04
    </select>

</mapper>
