<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.produce.mapper.SfbFileMapper">
  <update id="updateDate">
      update ${centre}.sfb_file
      <set>
          <if test="sfb.sfb81 != null and sfb.sfb81 &lt; ddate and flag ">
              sfb81 = #{ddate},
          </if>
          <if test="sfb.sfb81 != null and sfb.sfb81 > ddate and !flag ">
              sfb81 = #{ddate},
          </if>
          <if test="sfb.sfb13 != null and sfb.sfb13 &lt; ddate and flag">
              sfb13 = #{ddate},
          </if>
          <if test="sfb.sfb13 != null and sfb.sfb13 > ddate and !flag">
              sfb13 = #{ddate},
          </if>
          <if test="sfb.sfb15 != null and sfb.sfb15 &lt; ddate and flag">
              sfb15 = #{ddate},
          </if>
          <if test="sfb.sfb15 != null and sfb.sfb15 > ddate and !flag">
              sfb15 = #{ddate},
          </if>
          <if test="sfb.sfb25 != null and sfb.sfb25 &lt; ddate and flag">
              sfb25 = #{ddate},
          </if>
          <if test="sfb.sfb25 != null and sfb.sfb25 > ddate and !flag">
              sfb25 = #{ddate},
          </if>
          <if test="sfb.sfb36 != null and sfb.sfb36 &lt; ddate and flag">
              sfb36 = #{ddate},
          </if>
          <if test="sfb.sfb36 != null and sfb.sfb36  > ddate and !flag">
              sfb36 = #{ddate},
          </if>
          <if test="sfb.sfb38 != null and sfb.sfb38 &lt; ddate and flag">
              sfb38 = #{ddate},
          </if>
          <if test="sfb.sfb38 != null and sfb.sfb38 > ddate and !flag">
              sfb38 = #{ddate},
          </if>
      </set>
      where sfb01 =#{sfb.sfb01}
  </update>
    <update id="closeOut">
        update ${centre}.SFB_FILE
        set sfb04 = 8,
            sfb28 = 3,
            sfb36 = (select max(sfp03)
                     from ${centre}.SFP_FILE
                         left join ${centre}.SFQ_FILE on sfq01  = sfp01
                     where sfq02  = #{sfb01}),
            sfb37 = (select max(sfp03)
                     from ${centre}.SFP_FILE
                              left join ${centre}.SFQ_FILE on sfq01  = sfp01
                     where sfq02  = #{sfb01})
        where sfb01 = #{sfb01}
    </update>

    <select id="searchSfbList" resultType="com.keboda.eomsback.produce.pojo.SfbFile">
    select SFB01 ,IMA02
    from ${centre}.SFB_FILE
    left join ${centre}.IMA_FILE on sfb05 = ima01
    where ROWNUM  &lt; 51 and lower(SFB01) like lower('%${code}%')
  </select>
  <select id="searchSfb" resultType="com.keboda.eomsback.produce.pojo.SfbFile">
    select sfb01 , sfb04 ,sfb08,sfb081,sfb09,sfb11,sfb12,sfb81 ,sfb13 ,sfb15, sfb25 ,sfb36 ,sfb38
    from ${centre}.sfb_file
    where sfb01 = #{code}
  </select>
  <select id="searchSfbListPageHelper" resultType="com.keboda.eomsback.produce.pojo.SfbFile">
    select sfb01,sfb02,sfb06,smydesc,sfb81,sfb05,sfb43,sfb44, gen02, sfb87,ima02 ,sfb04,sfb08,sfb081,sfb09,sfb12,sfb98, sfb102,gem02, #{centre} centre
    from ${centre}.sfb_file
    left join ${centre}.smy_file on smyslip = SUBSTR(sfb01,0,4)
    left join ${centre}.ima_file on ima01 = sfb05
    left join ${centre}.gem_file on gem01 =sfb98
    left join ${centre}.gen_file on gen01 = sfb44
    <where>
      <if test="code != null and code != ''">
        and lower(sfb01) like lower('%${code}%')
      </if>
        <if test="startdate != null ">
            and  sfb81 >= #{startdate}
        </if>
        <if test="enddate != null ">
            and  sfb81 &lt;= #{enddate}
        </if>
    </where>
    order by sfb81,sfb01
  </select>
</mapper>
