<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.produce.mapper.SfuFileMapper">
    <update id="updateDate">
        update ${centre}.sfu_file
        <set>
            <if test="sfu.sfu02 != null and sfu.sfu02 &lt; ddate and flag">
                sfu02 = #{ddate},
            </if>
            <if test="sfu.sfu02 != null and sfu.sfu02 > ddate and !flag">
                sfu02 = #{ddate},
            </if>
            <if test="sfu.sfu14 != null and sfu.sfu14 &lt; ddate and flag">
                sfu14 = #{ddate},
            </if>
            <if test="sfu.sfu14 != null and sfu.sfu14 > ddate and !flag">
                sfu14 = #{ddate},
            </if>
        </set>
        where sfu01 =#{sfu.sfu01}
    </update>

    <select id="selectDateByCode" resultType="com.keboda.eomsback.produce.pojo.SfuFile">
        select sfu01, sfu14, sfu02, tlf06,case when tlf907 = 1 then '入库' else '退库' end as tlf907
        from ${centre}.sfu_file
                 left join ${centre}.sfv_file on sfu01 = sfv01
                 left join ${centre}.tlf_file on tlf62 =   sfv11 and  ( tlf026 =sfu01 or  tlf036 = sfu01) and tlf01 = sfv04
        where sfv11 = #{sfb01}
        group by sfu01, sfu14, sfu02, tlf06,tlf907
        order by sfu14
    </select>
</mapper>
