<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.purchase.mapper.RvaFileMapper">
    <update id="alterRvaConf">
        update ${centre}.rva_file
        set rvaconf = #{rvaconf}
        where rva01 = #{rva01}
    </update>
    <update id="alterRvaDate">
        update ${centre}.rva_file
        set rva06 = #{rva06}, rvadate = #{rva06},rvaud13 = #{rva06},rvaud14 = #{rva06}, rvacond =  #{rva06}, rvacrat =  #{rva06}
        where rva01 = #{rva01}
    </update>

    <select id="searchRvaListPageHelper" resultType="com.keboda.eomsback.purchase.pojo.RvaFile">
        select rva01, rva02, pmc03, rvaconf, rva10, rva05,rva06, gen02,rvaud02,rvaud03,rva32, rva33,rvaud13,rvaud14,#{centre} centre,smydesc
        from ${centre}.rva_file
        left join ${centre}.pmc_file on pmc01 = rva05
        left join ${centre}.gen_file on gen01 = rva33
        left join ${centre}.smy_file on smyslip = SUBSTR(rva01,0,4)
        <where>
            <if test="code != null and code !='' ">
                and lower(rva01) like lower('%${code}%')
            </if>
        </where>
        order by rva06,rva01
    </select>
    <select id="selectByKey" resultType="com.keboda.eomsback.purchase.pojo.RvaFile">
        select *
        from ${centre}.rva_file
        where rva01 = #{rva01}
    </select>

</mapper>