<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.purchase.mapper.RvbFileMapper">
    <update id="alterRvbQty">
        update ${centre}.rvb_file
        set rvb07 = #{rvb07},rvb33 = #{rvb07},rvb87 = #{rvb07},rvb88 = round( rvb10 * #{rvb07},2 ),rvb88t = round(rvb10t * #{rvb07},2)
        where rvb01 = #{rvb01} and rvb02 = #{rvb02}
    </update>

    <select id="searchRvbList" resultType="com.keboda.eomsback.purchase.pojo.RvbFile">
        select rvb01,rvb02,rvb03,rvb04,rvb05,rvb051,ima021,rvb07,rvb10t,rvb22,rvb29,rvb30,rvb88t,rvb90,#{centre} centre,pmn20,pmn50,pmn55,imd02
        from ${centre}.rvb_file
        left join ${centre}.ima_file on ima01 = rvb05
        left join ${centre}.pmn_file on pmn01 = rvb04 and pmn02 = rvb03
        left join ${centre}.imd_file on imd01 = rvb36
        where rvb01 = #{code}
        order by rvb02
    </select>
    <select id="selectByKey" resultType="com.keboda.eomsback.purchase.pojo.RvbFile">
        select *
        from ${centre}.rvb_file
        where rvb01 = #{rvb01} and rvb02 = #{rvb02}
    </select>

</mapper>