<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.purchase.mapper.RvuFileMapper">

    <select id="searchRvuListPageHelper" resultType="com.keboda.eomsback.purchase.pojo.RvuFile">
        select rvu00,rvu01,rvu02,rvu03,rvu04,rvu05 pmc03,rvu06 ,gem02,rvu07,rvu08,gen02,rvu17,rvucond,rvuconf,#{centre} centre,smydesc
        from ${centre}.rvu_file
            left join ${centre}.gen_file on gen01 = rvu07
            left join ${centre}.gem_file on gem01 = rvu06
            left join ${centre}.smy_file on smyslip = SUBSTR(rvu01,0,4)
        <where>
            <if test="code != null and code != '' ">
                and lower(rvu01) like lower('%${code}%')
            </if>
        </where>
    </select>
</mapper>