<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.system.mapper.GazFileMapper">

  <update id="updateByPrimaryKeySelective" parameterType="com.keboda.eomsback.system.pojo.GazFile">
    update GAZ_FILE
    <set>
      <if test="gaz03 != null">
        GAZ03 = #{gaz03,jdbcType=VARCHAR},
      </if>
      <if test="gaz04 != null">
        GAZ04 = #{gaz04,jdbcType=VARCHAR},
      </if>
      <if test="gazuser != null">
        GAZUSER = #{gazuser,jdbcType=VARCHAR},
      </if>
      <if test="gazgrup != null">
        GAZGRUP = #{gazgrup,jdbcType=VARCHAR},
      </if>
      <if test="gazmodu != null">
        GAZMODU = #{gazmodu,jdbcType=VARCHAR},
      </if>
      <if test="gazdate != null">
        GAZDATE = #{gazdate,jdbcType=TIMESTAMP},
      </if>
      <if test="gaz06 != null">
        GAZ06 = #{gaz06,jdbcType=VARCHAR},
      </if>
      <if test="gazorig != null">
        GAZORIG = #{gazorig,jdbcType=VARCHAR},
      </if>
      <if test="gazoriu != null">
        GAZORIU = #{gazoriu,jdbcType=VARCHAR},
      </if>
    </set>
    where GAZ01 = #{gaz01,jdbcType=VARCHAR}
      and GAZ02 = #{gaz02,jdbcType=VARCHAR}
      and GAZ05 = #{gaz05,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultType="com.keboda.eomsback.system.pojo.GazFile">
    select *
    from GAZ_FILE
    where gaz01 = #{gaz01} and gaz02 = 2
  </select>
  <select id="searchGazListPageHelper" resultType="com.keboda.eomsback.system.pojo.GazFile">
      select *
      from GAZ_FILE
      <where>
          gaz02 = 2
          <if test="gaz != null and gaz != ''">
              and (lower(gaz01) like lower('%${gaz}%') or lower(gaz03) like lower('%${gaz}%'))
          </if>
          <if test="gaz04 != null and gaz04 != ''">
              and lower(gaz04) like lower('%${gaz04}%')
          </if>
      </where>
      order by gaz01,gaz03
  </select>

</mapper>