<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.system.mapper.GemFileMapper">

    <select id="searchGemList" resultType="com.keboda.eomsback.system.pojo.GemFile">
        select gem01,gem02
        from ${centre}.gem_file
        <where>
            <if test="code_1 != null and code_2 != '' ">
                and ( lower(gem01) like lower('%${code_1}%') or lower(gem02) like lower('%${code_1}%'))
            </if>
            <if test="code_2 != null and code_2 != ''">
                and gemacti = #{code_2}
            </if>
        </where>
        order by gem01,gem02
    </select>
    <select id="searchGemByKey" resultType="com.keboda.eomsback.system.pojo.GemFile">
        select gem01,gem02
        from ${centre}.gem_file
        <where>
            gem01 = #{code_1}
            <if test="code_2 != null and code_2 != ''">
                and gemacti = #{code_2}
            </if>
        </where>
    </select>
</mapper>