<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.system.mapper.GenFileMapper">

    <select id="searchGenList" resultType="com.keboda.eomsback.system.pojo.GenFile">
        select gen01, gen02, gen03, gen05, gen06, gen07
        from (
        select gen01, gen02, gem02 gen03, gen05, gen06, 'ADAS' gen07
        from ADAS.gen_file
        left join ADAS.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'GLPT' gen07
        from GLPT.gen_file
        left join GLPT.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'JXKEAO' gen07
        from JXKEAO.gen_file
        left join JXKEAO.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'JXKSS' gen07
        from JXKSS.gen_file
        left join JXKSS.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'ZJCSDZ' gen07
        from ZJCSDZ.gen_file
        left join ZJCSDZ.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'LAB' gen07
        from LAB.gen_file
        left join LAB.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'ZJKBDDZ' gen07
        from ZJKBDDZ.gen_file
        left join ZJKBDDZ.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'ZJKBDJD' gen07
        from ZJKBDJD.gen_file
        left join ZJKBDJD.gem_file on gen03 = gem01
        union all
        select gen01, gen02, gem02 gen03, gen05, gen06, 'ZJZBZX' gen07
        from ZJZBZX.gen_file
        left join ZJZBZX.gem_file on gen03 = gem01)
        <where>
            <if test="centre != null and centre != '' ">
                and gen07 = #{centre}
            </if>
            <if test="code_1 != null and code_1 != '' ">
                and ( gen01 like '%${code_1}%' or gen02 like '%${code_1}%' )
            </if>
        </where>
        group by gen01, gen02, gen03, gen05, gen06, gen07
        order by gen07,gen03,gen01,gen02
    </select>
</mapper>