<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.system.mapper.ZxFileMapper">

  <select id="searchListPageHelper" resultType="com.keboda.eomsback.system.pojo.ZxFile">
      select zx01,
      zx02 ,
      LISTAGG(zw01, ', ') WITHIN GROUP (ORDER BY zw01) zx04,
      LISTAGG(zw02, ', ') WITHIN GROUP (ORDER BY zw02) zw02,
      zxy03,
      azp02,
      zx03 gem01,
      gem02,
      zx08
      from ZX_FILE
      left join  ${centre}.GEM_FILE on gem01 = zx03
      left join ZXW_FILE on zxw01 = zx01 and zxw03 = 1
      left join ZW_FILE on zw01 = nvl(zxw04, zx04)
      left join (select zxy01,
      LISTAGG(zxy03, ', ') WITHIN GROUP (ORDER BY zxy01)            zxy03,
      LISTAGG(nvl(azp02, zx08), ', ') WITHIN GROUP (ORDER BY zxy01) azp02
      from ZXY_FILE
      left join AZP_FILE on azp01 = zxy03
      left join ZX_FILE on zx01 = zxy01
      group by zxy01) on zxy01 = zx01
      <where>
            and zxacti = 'Y' and zx18 is null
          <if test="centre != null and centre != '' ">
              and zx08 = #{centre}
          </if>
          <if test="zx != null and zx != '' ">
              and ( zx01 like '%${zx}%' or zx02 like '%${zx}%' )
          </if>
          <if test="acti != null and acti != '' ">
              and zxacti = #{acti}
          </if>
      </where>
      group by zx01, zx02, zxy03,azp02,zx03,gem02,zx08
  </select>
    <select id="selectByPrimaryKey" resultType="com.keboda.eomsback.system.pojo.ZxFile">
        select *
        from zx_file
        where zx01 = #{zx01}
    </select>
    <select id="searchPersonalPositionContrastRecordsListPageHelper" resultType="com.keboda.eomsback.authorityReview.pojo.PersonalPosition">
        select * from (
        select zx01                                             code,
        zx02                                             name,
        LISTAGG(zw01, ', ') WITHIN GROUP (ORDER BY zw01) zx04,
        LISTAGG(zw02, ', ') WITHIN GROUP (ORDER BY zw02) zw02,
        zxw03
        from ZX_FILE
        left join ZXW_FILE on zxw01 = zx01
        left join ZW_FILE on zw01 = nvl(zxw04, zx04)
        where zxw03 = 1
        group by zx01, zx02,zxw03

        union all

        select zx01                                               code,
        zx02                                               name,
        LISTAGG(gaz01, ', ') WITHIN GROUP (ORDER BY gaz01) zx04,
        LISTAGG(gaz03, ', ') WITHIN GROUP (ORDER BY gaz03) zw02,
        zxw03
        from ZX_FILE
        left join ZXW_FILE on zxw01 = zx01
        left join GAZ_FILE on gaz01 = nvl(zxw04, zx04) and gaz02 = 2
        where zxw03 = 2
        group by zx01, zx02,zxw03 )
        <where>
          and zxw03 = #{itype}
            <if test="zx != null and zx != '' ">
                and  (lower(code) like lower('%${zx}%') or lower(name) like lower('%${zx}%') )
            </if>
        </where>

    </select>
    <select id="personalPositionContrastRecords"
            resultType="com.keboda.eomsback.authorityReview.pojo.PersonalPosition">
select * from (
        select zx01                                             code,
               zx02                                             name,
               LISTAGG(zw01, ', ') WITHIN GROUP (ORDER BY zw01) zx04,
               LISTAGG(zw02, ', ') WITHIN GROUP (ORDER BY zw02) zw02,
               zxw03
        from ZX_FILE
                 left join ZXW_FILE on zxw01 = zx01
                 left join ZW_FILE on zw01 = nvl(zxw04, zx04)
        where zxw03 = 1
        group by zx01, zx02,zxw03

        union all

        select zx01                                               code,
               zx02                                               name,
               LISTAGG(gaz01, ', ') WITHIN GROUP (ORDER BY gaz01) zx04,
               LISTAGG(gaz03, ', ') WITHIN GROUP (ORDER BY gaz03) zw02,
               zxw03
        from ZX_FILE
                 left join ZXW_FILE on zxw01 = zx01
                 left join GAZ_FILE on gaz01 = nvl(zxw04, zx04) and gaz02 = 2
        where zxw03 = 2
        group by zx01, zx02,zxw03 )
    where zxw03 = #{itype}
    </select>
</mapper>