<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.system.mapper.ZxwFileMapper">

  <insert id="insertSelective" keyColumn="ZXW01" keyProperty="zxw01" parameterType="com.keboda.eomsback.system.pojo.ZxwFile" useGeneratedKeys="true">
    insert into ZXW_FILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zxw02 != null">
        ZXW02,
      </if>
      <if test="zxw03 != null">
        ZXW03,
      </if>
      <if test="zxw04 != null">
        ZXW04,
      </if>
      <if test="zxw05 != null">
        ZXW05,
      </if>
      <if test="zxw06 != null">
        ZXW06,
      </if>
      <if test="zxw07 != null">
        ZXW07,
      </if>
      <if test="zxw08 != null">
        ZXW08,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zxw02 != null">
        #{zxw02,jdbcType=DECIMAL},
      </if>
      <if test="zxw03 != null">
        #{zxw03,jdbcType=VARCHAR},
      </if>
      <if test="zxw04 != null">
        #{zxw04,jdbcType=VARCHAR},
      </if>
      <if test="zxw05 != null">
        #{zxw05,jdbcType=VARCHAR},
      </if>
      <if test="zxw06 != null">
        #{zxw06,jdbcType=VARCHAR},
      </if>
      <if test="zxw07 != null">
        #{zxw07,jdbcType=VARCHAR},
      </if>
      <if test="zxw08 != null">
        #{zxw08,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.keboda.eomsback.system.pojo.ZxwFile">
    update ZXW_FILE
    <set>
      <if test="zxw03 != null">
        ZXW03 = #{zxw03,jdbcType=VARCHAR},
      </if>
      <if test="zxw04 != null">
        ZXW04 = #{zxw04,jdbcType=VARCHAR},
      </if>
      <if test="zxw05 != null">
        ZXW05 = #{zxw05,jdbcType=VARCHAR},
      </if>
      <if test="zxw06 != null">
        ZXW06 = #{zxw06,jdbcType=VARCHAR},
      </if>
      <if test="zxw07 != null">
        ZXW07 = #{zxw07,jdbcType=VARCHAR},
      </if>
      <if test="zxw08 != null">
        ZXW08 = #{zxw08,jdbcType=VARCHAR},
      </if>
    </set>
    where ZXW01 = #{zxw01,jdbcType=VARCHAR}
      and ZXW02 = #{zxw02,jdbcType=DECIMAL}
  </update>
  <select id="searchZxwListPageHelper" resultType="com.keboda.eomsback.system.pojo.ZxwFile">
    select zx01 zxw01,
    zx02 ,
    LISTAGG(zw01, ', ') WITHIN GROUP (ORDER BY zw01) zxw04,
    LISTAGG(zw02, ', ') WITHIN GROUP (ORDER BY zw02) zw02,
    zxy03,
    azp02,
    zx03 gem01,
    gem02
    from ZX_FILE
    left join  ${centre}.GEM_FILE on gem01 = zx03
    left join ZXW_FILE on zxw01 = zx01 and zxw03 = 1
    left join ZW_FILE on zw01 = nvl(zxw04, zx04)
    left join (select zxy01,
    LISTAGG(zxy03, ', ') WITHIN GROUP (ORDER BY zxy01)            zxy03,
    LISTAGG(nvl(azp02, zx08), ', ') WITHIN GROUP (ORDER BY zxy01) azp02
    from ZXY_FILE
    left join AZP_FILE on azp01 = zxy03
    left join ZX_FILE on zx01 = zxy01
    group by zxy01) on zxy01 = zx01
    <where>
      and zxacti = 'Y' and zx18 is null
      <if test="code != null and code != '' ">
        and ( lower(zx01) like lower('%${code}%') or  lower(zx02) like lower('%${code}%') )
      </if>
    </where>
    group by zx01, zx02, zxy03,azp02,zx03,gem02
  </select>
    <select id="selectPositionCodeByName" resultType="java.lang.String">
        select zw01
        from zw_file
        where zw02 = #{positionName}
    </select>
    <select id="searchRecordsList" resultType="com.keboda.eomsback.authorityReview.pojo.AuthorityRecordsVo">
        select ZW01 positioncode,
               ZW02 positionname,
               ZY02 permissioncode,
               GAZ03 permissionname,
               case when gae01 is not null then 'Y' else 'N' end                                           containAmount
        from ZW_FILE
                 LEFT JOIN zy_file ON ZY01 = ZW01
                 LEFT join gaz_file on gaz01 = zy02 and gaz02 = 2
                 left join (select GAE01
                            from (SELECT GAE01, GAE04
                                  FROM GAE_FILE
                                  where GAE03 = '2'
                                  UNION ALL
                                  SELECT ZAI01, ZAL05
                                  FROM ZAI_FILE
                                           LEFT JOIN ZAL_FILE ON ZAI01 = ZAL01
                                  WHERE ZAL03 = '2')
                            where gae04 like '%金额%' or gae04 like '%单价%' or gae04 like '%账款%' or gae04 like '%余额%'
                               or gae04 like '%异动成本%' or gae04 like '%人工%' or gae04 like '%制费%'
                            group by GAE01) on gae01 = zy02
        <where>
            <if test="code != null and code != '' ">
                and zw01 =#{code}
            </if>
        </where>

    </select>

</mapper>