<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.flux.mapper.IdxAsrsReceiveMapper">

    <select id="selectAsrsCount" resultType="java.lang.Integer">
        select count(0)
        from Idx_Asrs_Receive
        where taskStatus = 1 and  taskType IN ('PT', 'OT', 'PK', 'PI', 'PO', 'RT', 'RZ', 'TO', 'TI', 'TT')  and slocation = #{slocation} and palletId = #{palletid}
    </select>
</mapper>