<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.flux.mapper.WcsMapper">

    <select id="taskTimePageHelper" resultType="com.keboda.eomsback.flux.pojo.TaskTime">

        select a.taskid,
        DATE_FORMAT(a.addTime, '%Y-%m-%d') ddate,
        concat(udf03, '号小车') carid,
        case
        when taskType = 'ASRS_IN' then '入库'
        when taskType = 'ASRS_MOVE' then '移动'
        when taskType = 'ASRS_OUT' then '出库'
        when taskType = 'ASRS_PICK' then '拣选'
        when taskType = 'CAR_HC' then '换层'
        end tasktype,
        case
        when wmsTaskType = 'OT' then '指定下架'
        when wmsTaskType = 'PA' then '入库上架'
        when wmsTaskType = 'PI' then '母托盘入库'
        when wmsTaskType = 'PK' then '出库下架'
        when wmsTaskType = 'PO' then '母托盘出库'
        when wmsTaskType = 'PT' then '指定上架'
        when wmsTaskType = 'RT' then '回库'
        when wmsTaskType = 'RZ' then '回中转库位'
        when wmsTaskType = 'TI' then '移入'
        when wmsTaskType = 'TO' then '移出'
        end wmsTaskType,
        startdate,enddate,concat(tasktime,'s') tasktime
        from ebm_conveyortask a
        left join (SELECT
        min( ADDTIME ) startdate,
        max( ADDTIME ) enddate,
        timestampdiff( SECOND, min(ADDTIME),max(ADDTIME)) tasktime,
        LEFT ( SUBSTR( sendMsg, LOCATE( "\"taskId\":\"", sendMsg ) + 10, 30 ),LOCATE( "\"", SUBSTR( sendMsg, LOCATE( "\"taskId\":\"", sendMsg ) + 10, 30 )) - 1) taskId
        FROM CIM_COMMUNICATION_LOG
        WHERE
        LOCATE( "\"taskId\":\"", sendMsg ) != 0 and sender = 'RCS' and receiver = 'WCS'
        GROUP BY
        taskid ) b on a.taskId = b.taskId
        <where>
            status = '99'
            <if test="carid != null and carid.size > 0">
                and udf03 in
                <foreach item="item" collection="carid" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
            <if test="taskid != null and taskid != '' ">
                and lower(a.taskid) like lower('%${taskid}%')
            </if>
            <if test="tasktype != null and tasktype.size > 0">
                and taskType in
                <foreach item="item" collection="tasktype" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
            <if test="wmstasktype != null and wmstasktype.size > 0">
                and wmsTaskType in
                <foreach item="item" collection="wmstasktype" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
            <if test="startdate != null ">
                and DATE_FORMAT(addTime, '%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{startdate}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="enddate != null ">
                and DATE_FORMAT(addTime, '%Y-%m-%d %H:%i:%s') &lt;= DATE_FORMAT(#{enddate}, '%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

    <update id="writerCarinfo">
        update CM_CONVEYORMONITORING
        set udf01 = #{floor}
        where plcitem = #{plcitem}
    </update>
    <update id="readHoistinfo">
        update CM_CONVEYORMONITORING
        set udf01 = #{floor}, udf02 = #{taskno}
        where plcitem = #{plcitem}
    </update>
</mapper>
