<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keboda.eomsback.flux.mapper.WmsMapper">

    <select id="invLotLocIdListPageHelper" resultType="com.keboda.eomsback.flux.pojo.InvLotLocId">
        select a.customerId, a.locationId, a.lotnum, a.traceId,b.sku,b.skuDescr1 ,
        b.skuDescr2 ,e.freightDescr1 as freightclass,
        a.qty,a.grossweight,
        a.qty - a.qtyAllocated - a.qtyRpOut - a.qtyMvOut - a.qtyOnHold asqtyavailed,
        d.lotAtt04,d.lotAtt05,d.lotAtt06,d.lotAtt07,d.lotAtt08, a.qty - a.qtyAllocated - a.qtyRpOut - a.qtyMvOut -
        a.qtyOnHold as iqty
        from INV_LOT_LOC_ID a
        LEFT JOIN BAS_SKU b on a.customerId = b.customerId AND a.sku = b.sku
        LEFT JOIN BAS_CUSTOMERFREIGHT e ON b.customerId = e.customerId AND e.freightCode = b.freightClass
        LEFT JOIN INV_LOT_ATT d ON d.lotNum = a.lotNum
        <where>
            <if test="centre != null and centre != '' ">
                and a.customerid = #{centre}
            </if>
            <if test="ima != null and ima != '' ">
                and b.sku like '%${ima}%'
            </if>
            <if test="status != null and status != '' ">
                and d.lotAtt08 = #{status}
            </if>
            <if test="batch != null and batch != '' ">
                and a.lotnum like '%${batch}%'
            </if>
            <if test="pallet != null and pallet != '' ">
                and a.traceId like '%${pallet}%'
            </if>
        </where>
        order by a.customerid,a.locationId,a.sku
    </select>

    <select id="selectInvLotLocIdByKey" resultType="com.keboda.eomsback.flux.pojo.InvLotLocId">
        select *, qty - qtyAllocated - qtyRpOut - qtyMvOut - qtyOnHold asqtyavailed
        from INV_LOT_LOC_ID
        where locationid = #{locationid}
          and lotnum = #{lotnum}
          and traceid = #{traceid}
    </select>


    <select id="selectAsrsCount" resultType="java.lang.Integer">
        select count(0)
        from Idx_Asrs_Receive
        where taskStatus = 1
          and taskType IN ('PT', 'OT', 'PK', 'PI', 'PO', 'RT', 'RZ', 'TO', 'TI', 'TT')
          and slocation = #{slocation}
          and palletId = #{palletid}
    </select>

    <select id="checkQty" resultType="java.math.BigDecimal">
        SELECT toQty
        FROM DOC_ADJ_DETAILS
        WHERE adjLineStatus &lt; '10'
          and locationid = #{locationid}
          AND lotNum = #{lotnum}
          AND traceId = #{lotnum}
    </select>

    <select id="selectInvLotAttByKey" resultType="com.keboda.eomsback.flux.pojo.InvLotAtt">
        select *
        from INV_LOT_ATT
        where lotnum = #{lotnum}
    </select>

    <select id="selectOtherStatus" resultType="com.keboda.eomsback.flux.pojo.InvLotAtt">
        select *
        from INV_LOT_ATT
        <where>
            <if test="organizationid != null">
                and organizationid = #{organizationid}
            </if>
            <if test="customerid != null ">
                and customerid = #{customerid}
            </if>
            <if test="sku != null ">
                and sku = #{sku}
            </if>
            <if test="lotatt04 != null ">
                and lotatt04 = #{lotatt04}
            </if>
            <if test="lotatt05 != null ">
                and lotatt05 = #{lotatt05}
            </if>
            <if test="lotatt06 != null ">
                and lotatt06 = #{lotatt06}
            </if>
            <if test="lotatt07 != null ">
                and lotatt07 = #{lotatt07}
            </if>
            <if test="lotatt08 != null ">
                and lotatt08 = #{lotatt08}
            </if>
            <if test="keylotnum != null">
                and keylotnum = #{keylotnum}
            </if>
        </where>
    </select>

    <update id="updateSequence">
        update TC_IDSEQUENCE_FILE
        set idsequence = isnull(idsequence, 0) + 1
        where itype = #{itype}
    </update>
    <select id="selectIdsequenceByKey" resultType="com.keboda.eomsback.flux.pojo.TcIdsequenceFile">
        select *
        from TC_IDSEQUENCE_FILE
        where itype = #{itype}
    </select>

    <insert id="insertInvLotAttSelective">
        insert into INV_LOT_ATT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="organizationid != null">
                organizationid,
            </if>
            <if test="lotnum != null">
                lotnum,
            </if>
            <if test="customerid != null">
                customerid,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="lotatt01 != null">
                lotatt01,
            </if>
            <if test="lotatt02 != null">
                lotatt02,
            </if>
            <if test="lotatt03 != null">
                lotatt03,
            </if>
            <if test="lotatt04 != null">
                lotatt04,
            </if>
            <if test="lotatt05 != null">
                lotatt05,
            </if>
            <if test="lotatt06 != null">
                lotatt06,
            </if>
            <if test="lotatt07 != null">
                lotatt07,
            </if>
            <if test="lotatt08 != null">
                lotatt08,
            </if>
            <if test="lotatt09 != null">
                lotatt09,
            </if>
            <if test="lotatt10 != null">
                lotatt10,
            </if>
            <if test="lotatt11 != null">
                lotatt11,
            </if>
            <if test="lotatt12 != null">
                lotatt12,
            </if>
            <if test="lotatt13 != null">
                lotatt13,
            </if>
            <if test="lotatt14 != null">
                lotatt14,
            </if>
            <if test="lotatt15 != null">
                lotatt15,
            </if>
            <if test="lotatt16 != null">
                lotatt16,
            </if>
            <if test="lotatt17 != null">
                lotatt17,
            </if>
            <if test="lotatt18 != null">
                lotatt18,
            </if>
            <if test="lotatt19 != null">
                lotatt19,
            </if>
            <if test="lotatt20 != null">
                lotatt20,
            </if>
            <if test="lotatt21 != null">
                lotatt21,
            </if>
            <if test="lotatt22 != null">
                lotatt22,
            </if>
            <if test="lotatt23 != null">
                lotatt23,
            </if>
            <if test="lotatt24 != null">
                lotatt24,
            </if>
            <if test="receivingtime != null">
                receivingtime,
            </if>
            <if test="fileid != null">
                fileid,
            </if>
            <if test="qcreportfilename != null">
                qcreportfilename,
            </if>
            <if test="notetext != null">
                notetext,
            </if>
            <if test="udf01 != null">
                udf01,
            </if>
            <if test="udf02 != null">
                udf02,
            </if>
            <if test="udf03 != null">
                udf03,
            </if>
            <if test="udf04 != null">
                udf04,
            </if>
            <if test="udf05 != null">
                udf05,
            </if>
            <if test="udf06 != null">
                udf06,
            </if>
            <if test="currentversion != null">
                currentversion,
            </if>
            <if test="oprseqflag != null">
                oprseqflag,
            </if>
            <if test="addwho != null">
                addwho,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="editwho != null">
                editwho,
            </if>
            <if test="edittime != null">
                edittime,
            </if>
            <if test="keylotnum != null">
                keylotnum,
            </if>
            <if test="keylotatt != null">
                keylotatt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="organizationid != null">
                #{organizationid},
            </if>
            <if test="lotnum != null">
                #{lotnum},
            </if>
            <if test="customerid != null">
                #{customerid},
            </if>
            <if test="sku != null">
                #{sku},
            </if>
            <if test="lotatt01 != null">
                #{lotatt01},
            </if>
            <if test="lotatt02 != null">
                #{lotatt02},
            </if>
            <if test="lotatt03 != null">
                #{lotatt03},
            </if>
            <if test="lotatt04 != null">
                #{lotatt04},
            </if>
            <if test="lotatt05 != null">
                #{lotatt05},
            </if>
            <if test="lotatt06 != null">
                #{lotatt06},
            </if>
            <if test="lotatt07 != null">
                #{lotatt07},
            </if>
            <if test="lotatt08 != null">
                #{lotatt08},
            </if>
            <if test="lotatt09 != null">
                #{lotatt09},
            </if>
            <if test="lotatt10 != null">
                #{lotatt10},
            </if>
            <if test="lotatt11 != null">
                #{lotatt11},
            </if>
            <if test="lotatt12 != null">
                #{lotatt12},
            </if>
            <if test="lotatt13 != null">
                #{lotatt13},
            </if>
            <if test="lotatt14 != null">
                #{lotatt14},
            </if>
            <if test="lotatt15 != null">
                #{lotatt15},
            </if>
            <if test="lotatt16 != null">
                #{lotatt16},
            </if>
            <if test="lotatt17 != null">
                #{lotatt17},
            </if>
            <if test="lotatt18 != null">
                #{lotatt18},
            </if>
            <if test="lotatt19 != null">
                #{lotatt19},
            </if>
            <if test="lotatt20 != null">
                #{lotatt20},
            </if>
            <if test="lotatt21 != null">
                #{lotatt21},
            </if>
            <if test="lotatt22 != null">
                #{lotatt22},
            </if>
            <if test="lotatt23 != null">
                #{lotatt23},
            </if>
            <if test="lotatt24 != null">
                #{lotatt24},
            </if>
            <if test="receivingtime != null">
                #{receivingtime},
            </if>
            <if test="fileid != null">
                #{fileid},
            </if>
            <if test="qcreportfilename != null">
                #{qcreportfilename},
            </if>
            <if test="notetext != null">
                #{notetext},
            </if>
            <if test="udf01 != null">
                #{udf01},
            </if>
            <if test="udf02 != null">
                #{udf02},
            </if>
            <if test="udf03 != null">
                #{udf03},
            </if>
            <if test="udf04 != null">
                #{udf04},
            </if>
            <if test="udf05 != null">
                #{udf05},
            </if>
            <if test="udf06 != null">
                #{udf06},
            </if>
            <if test="currentversion != null">
                #{currentversion},
            </if>
            <if test="oprseqflag != null">
                #{oprseqflag},
            </if>
            <if test="addwho != null">
                #{addwho},
            </if>
            <if test="addtime != null">
                #{addtime},
            </if>
            <if test="editwho != null">
                #{editwho},
            </if>
            <if test="edittime != null">
                #{edittime},
            </if>
            <if test="keylotnum != null">
                #{keylotnum},
            </if>
            <if test="keylotatt != null">
                #{keylotatt},
            </if>
        </trim>
    </insert>

    <insert id="insertInvLotSelective">
        insert into INV_LOT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="organizationid != null">
                organizationid,
            </if>
            <if test="warehouseid != null">
                warehouseid,
            </if>
            <if test="lotnum != null">
                lotnum,
            </if>
            <if test="customerid != null">
                customerid,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="qty != null">
                qty,
            </if>
            <if test="qtyallocated != null">
                qtyallocated,
            </if>

            <if test="qtypreallocated != null">
                qtypreallocated,
            </if>
            <if test="qtyonhold != null">
                qtyonhold,
            </if>

            <if test="grossweight != null">
                grossweight,
            </if>
            <if test="netweight != null">
                netweight,
            </if>
            <if test="cubic != null">
                cubic,
            </if>
            <if test="price != null">
                price,
            </if>

            <if test="notetext != null">
                notetext,
            </if>
            <if test="udf01 != null">
                udf01,
            </if>
            <if test="udf02 != null">
                udf02,
            </if>
            <if test="udf03 != null">
                udf03,
            </if>
            <if test="udf04 != null">
                udf04,
            </if>
            <if test="udf05 != null">
                udf05,
            </if>
            <if test="udf06 != null">
                udf06,
            </if>

            <if test="currentversion != null">
                currentversion,
            </if>
            <if test="oprseqflag != null">
                oprseqflag,
            </if>
            <if test="addwho != null">
                addwho,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="editwho != null">
                editwho,
            </if>
            <if test="edittime != null">
                edittime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="organizationid != null">
                #{organizationid},
            </if>
            <if test="warehouseid != null">
                #{warehouseid},
            </if>
            <if test="lotnum != null">
                #{lotnum},
            </if>
            <if test="customerid != null">
                #{customerid},
            </if>
            <if test="sku != null">
                #{sku},
            </if>
            <if test="qty != null">
                #{qty},
            </if>
            <if test="qtyallocated != null">
                #{qtyallocated},
            </if>

            <if test="qtypreallocated != null">
                #{qtypreallocated},
            </if>
            <if test="qtyonhold != null">
                #{qtyonhold},
            </if>
            <if test="grossweight != null">
                #{grossweight},
            </if>
            <if test="netweight != null">
                #{netweight},
            </if>
            <if test="cubic != null">
                #{cubic},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="notetext != null">
                #{notetext},
            </if>
            <if test="udf01 != null">
                #{udf01},
            </if>
            <if test="udf02 != null">
                #{udf02},
            </if>
            <if test="udf03 != null">
                #{udf03},
            </if>
            <if test="udf04 != null">
                #{udf04},
            </if>
            <if test="udf05 != null">
                #{udf05},
            </if>
            <if test="udf06 != null">
                #{udf06},
            </if>
            <if test="currentversion != null">
                #{currentversion},
            </if>
            <if test="oprseqflag != null">
                #{oprseqflag},
            </if>
            <if test="addwho != null">
                #{addwho},
            </if>
            <if test="addtime != null">
                #{addtime},
            </if>
            <if test="editwho != null">
                #{editwho},
            </if>
            <if test="edittime != null">
                #{edittime},
            </if>
        </trim>
    </insert>

    <update id="updateInvLotQty">
        update INV_LOT
        set organizationId  = t.organizationid,
            warehouseId     = t.warehouseId,
            customerId      = t.customerId,
            sku             = t.sku,
            qty             = t.qty,
            qtyAllocated    = t.qtyAllocated,
            qtyPreAllocated = t.qtyAllocated,
            grossWeight     = t.grossWeight,
            currentVersion  = a.currentVersion + 1,
            editWho         = #{editwho},
            editTime        = #{edittime} from INV_LOT a
        left join (
            select organizationid,warehouseId,lotNum,customerId,sku,sum(qty) as qty ,sum(qtyAllocated) as qtyAllocated,sum(qtyOnHold)as qtyOnHold,sum(grossWeight) as grossWeight
            from inv_lot_loc_id
            group by organizationid,warehouseId,lotNum,customerId,sku
        ) t
        on a.lotnum = t.lotnum
        where a.lotNum = #{lotnum}
    </update>
    <select id="selectInvLotByKey" resultType="com.keboda.eomsback.flux.pojo.InvLot">
        select *
        from INV_LOT
        where lotnum = #{lotnum}
    </select>

    <insert id="insertInvLotLocIdSelective">
        insert into INV_LOT_LOC_ID
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="organizationid != null">
                organizationid,
            </if>
            <if test="warehouseid != null">
                warehouseid,
            </if>
            <if test="locationid != null">
                locationid,
            </if>
            <if test="lotnum != null">
                lotnum,
            </if>
            <if test="traceid != null">
                traceid,
            </if>
            <if test="customerid != null">
                customerid,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="qty != null">
                qty,
            </if>
            <if test="qtyallocated != null">
                qtyallocated,
            </if>
            <if test="qtyrpin != null">
                qtyrpin,
            </if>
            <if test="qtyrpout != null">
                qtyrpout,
            </if>
            <if test="qtymvin != null">
                qtymvin,
            </if>
            <if test="qtymvout != null">
                qtymvout,
            </if>
            <if test="qtyonhold != null">
                qtyonhold,
            </if>
            <if test="onholdlocker != null">
                onholdlocker,
            </if>
            <if test="grossweight != null">
                grossweight,
            </if>
            <if test="netweight != null">
                netweight,
            </if>
            <if test="cubic != null">
                cubic,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="qtypa != null">
                qtypa,
            </if>
            <if test="qcstatus != null">
                qcstatus,
            </if>
            <if test="lastmaintenancedate != null">
                lastmaintenancedate,
            </if>
            <if test="notetext != null">
                notetext,
            </if>
            <if test="udf01 != null">
                udf01,
            </if>
            <if test="udf02 != null">
                udf02,
            </if>
            <if test="udf03 != null">
                udf03,
            </if>
            <if test="udf04 != null">
                udf04,
            </if>
            <if test="udf05 != null">
                udf05,
            </if>
            <if test="udf06 != null">
                udf06,
            </if>
            <if test="currentversion != null">
                currentversion,
            </if>
            <if test="oprseqflag != null">
                oprseqflag,
            </if>
            <if test="addwho != null">
                addwho,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="editwho != null">
                editwho,
            </if>
            <if test="edittime != null">
                edittime,
            </if>
            <if test="inloctime != null">
                inloctime,
            </if>
            <if test="muid != null">
                muid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="organizationid != null">
                #{organizationid},
            </if>
            <if test="warehouseid != null">
                #{warehouseid},
            </if>
            <if test="locationid != null">
                #{locationid},
            </if>
            <if test="lotnum != null">
                #{lotnum},
            </if>
            <if test="traceid != null">
                #{traceid},
            </if>
            <if test="customerid != null">
                #{customerid},
            </if>
            <if test="sku != null">
                #{sku},
            </if>
            <if test="qty != null">
                #{qty},
            </if>
            <if test="qtyallocated != null">
                #{qtyallocated},
            </if>
            <if test="qtyrpin != null">
                #{qtyrpin},
            </if>
            <if test="qtyrpout != null">
                #{qtyrpout},
            </if>
            <if test="qtymvin != null">
                #{qtymvin},
            </if>
            <if test="qtymvout != null">
                #{qtymvout},
            </if>
            <if test="qtyonhold != null">
                #{qtyonhold},
            </if>
            <if test="onholdlocker != null">
                #{onholdlocker},
            </if>
            <if test="grossweight != null">
                #{grossweight},
            </if>
            <if test="netweight != null">
                #{netweight},
            </if>
            <if test="cubic != null">
                #{cubic},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="qtypa != null">
                #{qtypa},
            </if>
            <if test="qcstatus != null">
                #{qcstatus},
            </if>
            <if test="lastmaintenancedate != null">
                #{lastmaintenancedate},
            </if>
            <if test="notetext != null">
                #{notetext},
            </if>
            <if test="udf01 != null">
                #{udf01},
            </if>
            <if test="udf02 != null">
                #{udf02},
            </if>
            <if test="udf03 != null">
                #{udf03},
            </if>
            <if test="udf04 != null">
                #{udf04},
            </if>
            <if test="udf05 != null">
                #{udf05},
            </if>
            <if test="udf06 != null">
                #{udf06},
            </if>
            <if test="currentversion != null">
                #{currentversion},
            </if>
            <if test="oprseqflag != null">
                #{oprseqflag},
            </if>
            <if test="addwho != null">
                #{addwho},
            </if>
            <if test="addtime != null">
                #{addtime},
            </if>
            <if test="editwho != null">
                #{editwho},
            </if>
            <if test="edittime != null">
                #{edittime},
            </if>
            <if test="inloctime != null">
                #{inloctime},
            </if>
            <if test="muid != null">
                #{muid},
            </if>
        </trim>

    </insert>
    <update id="updateInvLotLocIdQty">
        update INV_LOT_LOC_ID
        set qty            = #{qty},
            currentVersion = currentVersion + 1,
            grossWeight    = #{grossweight},
            editwho        = #{editwho},
            edittime       = #{edittime}
        where locationId = #{locationid}
          and lotnum = #{lotnum}
          and traceId = #{traceid}

    </update>

    <insert id="insertByKeySelective">
        insert into TC_ROBOTS_STATUS_FILE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="agvtype != null">
                agvtype ,
            </if>
            <if test="xPosition != null">
                xPosition,
            </if>
            <if test="yPosition != null">
                yPosition,
            </if>
            <if test="xTarget != null">
                xTarget,
            </if>
            <if test="yTarget != null">
                yTarget,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="floorid != null">
                floorid,
            </if>
            <if test="mapid != null">
                mapid,
            </if>
            <if test="taskState != null">
                taskState,
            </if>
            <if test="agvState != null">
                agvState,
            </if>
            <if test="loaded != null">
                loaded,
            </if>
            <if test="battery != null">
                battery,
            </if>
            <if test="online != null">
                online,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="agvtype != null">
                #{agvtype},
            </if>
            <if test="xPosition != null">
                #{xPosition},
            </if>
            <if test="yPosition != null">
                #{yPosition},
            </if>
            <if test="xTarget != null">
                #{xTarget},
            </if>
            <if test="yTarget != null">
                #{yTarget},
            </if>
            <if test="enable != null">
                #{enable},
            </if>
            <if test="floorid != null">
                #{floorid},
            </if>
            <if test="mapid != null">
                #{mapid},
            </if>
            <if test="taskState != null">
                #{taskState},
            </if>
            <if test="agvState != null">
                #{agvState},
            </if>
            <if test="loaded != null">
                #{loaded},
            </if>
            <if test="battery != null">
                #{battery},
            </if>
            <if test="online != null">
                #{online},
            </if>
            <if test="updatetime != null">
                #{updatetime},
            </if>
        </trim>
    </insert>
    <update id="updateByKeySelective">
        update TC_ROBOTS_STATUS_FILE
        <set>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="agvtype != null">
                agvtype = #{agvtype},
            </if>
            <if test="xPosition != null">
                xPosition = #{xPosition},
            </if>
            <if test="yPosition != null">
                yPosition = #{yPosition},
            </if>
            <if test="xTarget != null">
                xTarget = #{xTarget},
            </if>
            <if test="yTarget != null">
                yTarget = #{yTarget},
            </if>
            <if test="enable != null">
                enable = #{enable},
            </if>
            <if test="floorid != null">
                floorid = #{floorid},
            </if>
            <if test="mapid != null">
                mapid = #{mapid},
            </if>
            <if test="taskState != null">
                taskState = #{taskState},
            </if>
            <if test="agvState != null">
                agvState = #{agvState},
            </if>
            <if test="loaded != null">
                loaded = #{loaded},
            </if>
            <if test="battery != null">
                battery = #{battery},
            </if>
            <if test="online != null">
                online = #{online},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByKey" resultType="com.keboda.eomsback.flux.pojo.RobotsStatusFile">
        select *
        from TC_ROBOTS_STATUS_FILE
        where id = #{id}
    </select>


</mapper>
